*{
	font-size: 20px;
	font-family: arial;
}

header{
	margin: 10px auto;
	text-align: center;
	width: 900px;
	padding: 20px 0px;
}
header h1{
	color: #993399;
	font-weight: bold;
	font-size: 1.5em;
	
}

main{
	margin: 0 auto;
	width: 900px;
	padding: 0px;
	/*border: 1px solid red;*/
}

.formlogin{
	width: 400px;
	height: 350px;
	margin: 0px auto;
	border: 1px solid rgba(255, 255, 255,0.2);
	box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
	border-radius:5px ;
}

.formlogin h1{
	color:rgb(0,0,205);
	padding: 15px;
	font-size: 33px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0.1em 0.1em #333;

}

.formlogin p{
	font-size: 16px;
	text-align: center;
}

.formlogin label{
	color: #993399;
	font-weight: bold;
	display: block;
	margin: 10px 20px;


}

.formlogin input{
 	font-size: 18px;
    display: block;
    margin:0 auto ;
    padding: 10px 20px;
    width: 70%;
    color: #000000;

}

.formlogin input:focus{
	background: rgb(0,0,255);
	color: #ffffff;
	font-size: 22px;
}

.formlogin button{
	display: block;
	text-align: center;
	margin: 10px 50px;border: 1px solid red;
	border-radius: 5px;
	width: 70%;
	height:2em;
	background: rgb(0,0,205);
	color: #ffffff;

}

.formlogin button:hover{
	cursor: pointer;
	background: blue;
	color: #ffffff;
}

/* Estilo pagina cadastrar*/

.formloginCadastrar{
	width: 900px;
	
	margin: 0px auto;
	/*
	border: 1px solid rgba(255, 255, 255,0.2);
	box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
	border-radius:5px ;
	*/
}

.formloginCadastrar input{
	font-size: 18px;
   display: block;
   margin:0 auto ;
   padding: 10px 20px;
   margin-top: 30px;
   width: 70%;
   color: #000000;

}

.formloginCadastrar input:focus{
   background: rgb(0,0,255);
   color: #ffffff;
   font-size: 22px;
}

.formloginCadastrar button{
   display: block;
   position: relative;
   text-align: center;
   margin: 30px 130px ;
   
   border-radius: 5px;
   width: 20%;
   height:2em;
   background: rgb(0,0,205);
   color: #ffffff;

}

.formloginCadastrar button:hover{
   cursor: pointer;
   background: blue;
   color: #ffffff;
}

#cadastrar{
	margin: 0 auto;
	
	width: 900px;
}